:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #f5ba4b;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Objective",sans-serif;
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

p {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

body {
    font-family: Objective,sans-serif;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.75;
    color: #212529;
    text-align: left;
}
*, ::after, ::before {
    box-sizing: border-box;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

a {
    text-decoration: none;
}

.section {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.section {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

.section-top {
    padding-top: calc(7.5rem + 5.8125rem);
}

#brand-text{
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.05em;
    fill: white;
}

#brand-text-footer{
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.05em;
    fill: black;
    text-decoration: none;
}

.dropdown-text{
    text-transform: uppercase;
}

.nav-labels{
    text-transform: uppercase;
}

.mr-auto, .mx-auto {
    margin-right: auto !important;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}

.bg-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bg-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bg-triangle {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 100% auto;
}

.bg-triangle-left {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><path d='M0 100 V 90 L 10 100 Z' fill='%23212529' fill-opacity='0.03'></path><path d='M0 90 V 80 L 10 90 Z' fill='%23212529' fill-opacity='0.045'></path><path d='M10 100 V 90 L 20 100 Z' fill='%23212529' fill-opacity='0.025'></path><path d='M0 90 H 10 V 100 Z' fill='%23212529' fill-opacity='0.06'></path></svg>");
}

.bg-triangle-left.bg-triangle-light {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><path d='M0 100 V 90 L 10 100 Z' fill='white' fill-opacity='0.03'></path><path d='M0 90 V 80 L 10 90 Z' fill='white' fill-opacity='0.045'></path><path d='M10 100 V 90 L 20 100 Z' fill='white' fill-opacity='0.025'></path><path d='M0 90 H 10 V 100 Z' fill='white' fill-opacity='0.06'></path></svg>");
}

.bg-triangle-right {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><path d='M100 100 V 90 L 90 100 Z' fill='%23212529' fill-opacity='0.045'></path><path d='M100 90 V 80 L 90 90 Z' fill='%23212529' fill-opacity='0.015'></path><path d='M90 100 V 90 L 80 100 Z' fill='%23212529' fill-opacity='0.03'></path><path d='M90 100 V 90 H 100 Z' fill='%23212529' fill-opacity='0.06'></path></svg>");
}

.bg-triangle-right.bg-triangle-light {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><path d='M100 100 V 90 L 90 100 Z' fill='white' fill-opacity='0.045'></path><path d='M100 90 V 80 L 90 90 Z' fill='white' fill-opacity='0.015'></path><path d='M90 100 V 90 L 80 100 Z' fill='white' fill-opacity='0.03'></path><path d='M90 100 V 90 H 100 Z' fill='white' fill-opacity='0.06'></path></svg>");
}

.row {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-right: -1.5rem;
    margin-left: -1.5rem;
}

.justify-content-center {
    -webkit-box-pack: center !important;
    justify-content: center !important;
}

.align-items-center {
    -webkit-box-align: center !important;
    align-items: center !important;
}

.section-full .container > .row {
    min-height: calc(100vh - 7.5rem * 2);
}

.section-full.section-top > .container > .row {
    min-height: calc(100vh - 7.5rem * 2 - 5.8125rem);
}

.align-self-center {
    align-self: center !important;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position:relative;
    width:100%;
    padding-right:1.5rem;
    padding-left:1.5rem
}
.col {
    flex-basis:0;
    -webkit-box-flex:1;
    flex-grow:1;
    max-width:100%
}
.row-cols-1>* {
    -webkit-box-flex:0;
    flex:0 0 100%;
    max-width:100%
}
.row-cols-2>* {
    -webkit-box-flex:0;
    flex:0 0 50%;
    max-width:50%
}
.row-cols-3>* {
    -webkit-box-flex:0;
    flex:0 0 33.33333%;
    max-width:33.33333%
}
.row-cols-4>* {
    -webkit-box-flex:0;
    flex:0 0 25%;
    max-width:25%
}
.row-cols-5>* {
    -webkit-box-flex:0;
    flex:0 0 20%;
    max-width:20%
}
.row-cols-6>* {
    -webkit-box-flex:0;
    flex:0 0 16.66667%;
    max-width:16.66667%
}
.col-auto {
    -webkit-box-flex:0;
    flex:0 0 auto;
    width:auto;
    max-width:100%
}
.col-1 {
    -webkit-box-flex:0;
    flex:0 0 8.33333%;
    max-width:8.33333%
}
.col-2 {
    -webkit-box-flex:0;
    flex:0 0 16.66667%;
    max-width:16.66667%
}
.col-3 {
    -webkit-box-flex:0;
    flex:0 0 25%;
    max-width:25%
}
.col-4 {
    -webkit-box-flex:0;
    flex:0 0 33.33333%;
    max-width:33.33333%
}
.col-5 {
    -webkit-box-flex:0;
    flex:0 0 41.66667%;
    max-width:41.66667%
}
.col-6 {
    -webkit-box-flex:0;
    flex:0 0 50%;
    max-width:50%
}
.col-7 {
    -webkit-box-flex:0;
    flex:0 0 58.33333%;
    max-width:58.33333%
}
.col-8 {
    -webkit-box-flex:0;
    flex:0 0 66.66667%;
    max-width:66.66667%
}
.col-9 {
    -webkit-box-flex:0;
    flex:0 0 75%;
    max-width:75%
}
.col-10 {
    -webkit-box-flex:0;
    flex:0 0 83.33333%;
    max-width:83.33333%
}
.col-11 {
    -webkit-box-flex:0;
    flex:0 0 91.66667%;
    max-width:91.66667%
}
.col-12 {
    -webkit-box-flex:0;
    flex:0 0 100%;
    max-width:100%
}
.order-first {
    -webkit-box-ordinal-group:0;
    order:-1
}
.order-last {
    -webkit-box-ordinal-group:14;
    order:13
}
.order-0 {
    -webkit-box-ordinal-group:1;
    order:0
}
.order-1 {
    -webkit-box-ordinal-group:2;
    order:1
}
.order-2 {
    -webkit-box-ordinal-group:3;
    order:2
}
.order-3 {
    -webkit-box-ordinal-group:4;
    order:3
}
.order-4 {
    -webkit-box-ordinal-group:5;
    order:4
}
.order-5 {
    -webkit-box-ordinal-group:6;
    order:5
}
.order-6 {
    -webkit-box-ordinal-group:7;
    order:6
}
.order-7 {
    -webkit-box-ordinal-group:8;
    order:7
}
.order-8 {
    -webkit-box-ordinal-group:9;
    order:8
}
.order-9 {
    -webkit-box-ordinal-group:10;
    order:9
}
.order-10 {
    -webkit-box-ordinal-group:11;
    order:10
}
.order-11 {
    -webkit-box-ordinal-group:12;
    order:11
}
.order-12 {
    -webkit-box-ordinal-group:13;
    order:12
}
.offset-1 {
    margin-left:8.33333%
}
.offset-2 {
    margin-left:16.66667%
}
.offset-3 {
    margin-left:25%
}
.offset-4 {
    margin-left:33.33333%
}
.offset-5 {
    margin-left:41.66667%
}
.offset-6 {
    margin-left:50%
}
.offset-7 {
    margin-left:58.33333%
}
.offset-8 {
    margin-left:66.66667%
}
.offset-9 {
    margin-left:75%
}
.offset-10 {
    margin-left:83.33333%
}
.offset-11 {
    margin-left:91.66667%
}
@media (min-width:576px) {
    .col-sm {
        flex-basis:0;
        -webkit-box-flex:1;
        flex-grow:1;
        max-width:100%
    }
    .row-cols-sm-1>* {
        -webkit-box-flex:0;
        flex:0 0 100%;
        max-width:100%
    }
    .row-cols-sm-2>* {
        -webkit-box-flex:0;
        flex:0 0 50%;
        max-width:50%
    }
    .row-cols-sm-3>* {
        -webkit-box-flex:0;
        flex:0 0 33.33333%;
        max-width:33.33333%
    }
    .row-cols-sm-4>* {
        -webkit-box-flex:0;
        flex:0 0 25%;
        max-width:25%
    }
    .row-cols-sm-5>* {
        -webkit-box-flex:0;
        flex:0 0 20%;
        max-width:20%
    }
    .row-cols-sm-6>* {
        -webkit-box-flex:0;
        flex:0 0 16.66667%;
        max-width:16.66667%
    }
    .col-sm-auto {
        -webkit-box-flex:0;
        flex:0 0 auto;
        width:auto;
        max-width:100%
    }
    .col-sm-1 {
        -webkit-box-flex:0;
        flex:0 0 8.33333%;
        max-width:8.33333%
    }
    .col-sm-2 {
        -webkit-box-flex:0;
        flex:0 0 16.66667%;
        max-width:16.66667%
    }
    .col-sm-3 {
        -webkit-box-flex:0;
        flex:0 0 25%;
        max-width:25%
    }
    .col-sm-4 {
        -webkit-box-flex:0;
        flex:0 0 33.33333%;
        max-width:33.33333%
    }
    .col-sm-5 {
        -webkit-box-flex:0;
        flex:0 0 41.66667%;
        max-width:41.66667%
    }
    .col-sm-6 {
        -webkit-box-flex:0;
        flex:0 0 50%;
        max-width:50%
    }
    .col-sm-7 {
        -webkit-box-flex:0;
        flex:0 0 58.33333%;
        max-width:58.33333%
    }
    .col-sm-8 {
        -webkit-box-flex:0;
        flex:0 0 66.66667%;
        max-width:66.66667%
    }
    .col-sm-9 {
        -webkit-box-flex:0;
        flex:0 0 75%;
        max-width:75%
    }
    .col-sm-10 {
        -webkit-box-flex:0;
        flex:0 0 83.33333%;
        max-width:83.33333%
    }
    .col-sm-11 {
        -webkit-box-flex:0;
        flex:0 0 91.66667%;
        max-width:91.66667%
    }
    .col-sm-12 {
        -webkit-box-flex:0;
        flex:0 0 100%;
        max-width:100%
    }
    .order-sm-first {
        -webkit-box-ordinal-group:0;
        order:-1
    }
    .order-sm-last {
        -webkit-box-ordinal-group:14;
        order:13
    }
    .order-sm-0 {
        -webkit-box-ordinal-group:1;
        order:0
    }
    .order-sm-1 {
        -webkit-box-ordinal-group:2;
        order:1
    }
    .order-sm-2 {
        -webkit-box-ordinal-group:3;
        order:2
    }
    .order-sm-3 {
        -webkit-box-ordinal-group:4;
        order:3
    }
    .order-sm-4 {
        -webkit-box-ordinal-group:5;
        order:4
    }
    .order-sm-5 {
        -webkit-box-ordinal-group:6;
        order:5
    }
    .order-sm-6 {
        -webkit-box-ordinal-group:7;
        order:6
    }
    .order-sm-7 {
        -webkit-box-ordinal-group:8;
        order:7
    }
    .order-sm-8 {
        -webkit-box-ordinal-group:9;
        order:8
    }
    .order-sm-9 {
        -webkit-box-ordinal-group:10;
        order:9
    }
    .order-sm-10 {
        -webkit-box-ordinal-group:11;
        order:10
    }
    .order-sm-11 {
        -webkit-box-ordinal-group:12;
        order:11
    }
    .order-sm-12 {
        -webkit-box-ordinal-group:13;
        order:12
    }
    .offset-sm-0 {
        margin-left:0
    }
    .offset-sm-1 {
        margin-left:8.33333%
    }
    .offset-sm-2 {
        margin-left:16.66667%
    }
    .offset-sm-3 {
        margin-left:25%
    }
    .offset-sm-4 {
        margin-left:33.33333%
    }
    .offset-sm-5 {
        margin-left:41.66667%
    }
    .offset-sm-6 {
        margin-left:50%
    }
    .offset-sm-7 {
        margin-left:58.33333%
    }
    .offset-sm-8 {
        margin-left:66.66667%
    }
    .offset-sm-9 {
        margin-left:75%
    }
    .offset-sm-10 {
        margin-left:83.33333%
    }
    .offset-sm-11 {
        margin-left:91.66667%
    }
}
@media (min-width:768px) {
    .col-md {
        flex-basis:0;
        -webkit-box-flex:1;
        flex-grow:1;
        max-width:100%
    }
    .row-cols-md-1>* {
        -webkit-box-flex:0;
        flex:0 0 100%;
        max-width:100%
    }
    .row-cols-md-2>* {
        -webkit-box-flex:0;
        flex:0 0 50%;
        max-width:50%
    }
    .row-cols-md-3>* {
        -webkit-box-flex:0;
        flex:0 0 33.33333%;
        max-width:33.33333%
    }
    .row-cols-md-4>* {
        -webkit-box-flex:0;
        flex:0 0 25%;
        max-width:25%
    }
    .row-cols-md-5>* {
        -webkit-box-flex:0;
        flex:0 0 20%;
        max-width:20%
    }
    .row-cols-md-6>* {
        -webkit-box-flex:0;
        flex:0 0 16.66667%;
        max-width:16.66667%
    }
    .col-md-auto {
        -webkit-box-flex:0;
        flex:0 0 auto;
        width:auto;
        max-width:100%
    }
    .col-md-1 {
        -webkit-box-flex:0;
        flex:0 0 8.33333%;
        max-width:8.33333%
    }
    .col-md-2 {
        -webkit-box-flex:0;
        flex:0 0 16.66667%;
        max-width:16.66667%
    }
    .col-md-3 {
        -webkit-box-flex:0;
        flex:0 0 25%;
        max-width:25%
    }
    .col-md-4 {
        -webkit-box-flex:0;
        flex:0 0 33.33333%;
        max-width:33.33333%
    }
    .col-md-5 {
        -webkit-box-flex:0;
        flex:0 0 41.66667%;
        max-width:41.66667%
    }
    .col-md-6 {
        -webkit-box-flex:0;
        flex:0 0 50%;
        max-width:50%
    }
    .col-md-7 {
        -webkit-box-flex:0;
        flex:0 0 58.33333%;
        max-width:58.33333%
    }
    .col-md-8 {
        -webkit-box-flex:0;
        flex:0 0 66.66667%;
        max-width:66.66667%
    }
    .col-md-9 {
        -webkit-box-flex:0;
        flex:0 0 75%;
        max-width:75%
    }
    .col-md-10 {
        -webkit-box-flex:0;
        flex:0 0 83.33333%;
        max-width:83.33333%
    }
    .col-md-11 {
        -webkit-box-flex:0;
        flex:0 0 91.66667%;
        max-width:91.66667%
    }
    .col-md-12 {
        -webkit-box-flex:0;
        flex:0 0 100%;
        max-width:100%
    }
    .order-md-first {
        -webkit-box-ordinal-group:0;
        order:-1
    }
    .order-md-last {
        -webkit-box-ordinal-group:14;
        order:13
    }
    .order-md-0 {
        -webkit-box-ordinal-group:1;
        order:0
    }
    .order-md-1 {
        -webkit-box-ordinal-group:2;
        order:1
    }
    .order-md-2 {
        -webkit-box-ordinal-group:3;
        order:2
    }
    .order-md-3 {
        -webkit-box-ordinal-group:4;
        order:3
    }
    .order-md-4 {
        -webkit-box-ordinal-group:5;
        order:4
    }
    .order-md-5 {
        -webkit-box-ordinal-group:6;
        order:5
    }
    .order-md-6 {
        -webkit-box-ordinal-group:7;
        order:6
    }
    .order-md-7 {
        -webkit-box-ordinal-group:8;
        order:7
    }
    .order-md-8 {
        -webkit-box-ordinal-group:9;
        order:8
    }
    .order-md-9 {
        -webkit-box-ordinal-group:10;
        order:9
    }
    .order-md-10 {
        -webkit-box-ordinal-group:11;
        order:10
    }
    .order-md-11 {
        -webkit-box-ordinal-group:12;
        order:11
    }
    .order-md-12 {
        -webkit-box-ordinal-group:13;
        order:12
    }
    .offset-md-0 {
        margin-left:0
    }
    .offset-md-1 {
        margin-left:8.33333%
    }
    .offset-md-2 {
        margin-left:16.66667%
    }
    .offset-md-3 {
        margin-left:25%
    }
    .offset-md-4 {
        margin-left:33.33333%
    }
    .offset-md-5 {
        margin-left:41.66667%
    }
    .offset-md-6 {
        margin-left:50%
    }
    .offset-md-7 {
        margin-left:58.33333%
    }
    .offset-md-8 {
        margin-left:66.66667%
    }
    .offset-md-9 {
        margin-left:75%
    }
    .offset-md-10 {
        margin-left:83.33333%
    }
    .offset-md-11 {
        margin-left:91.66667%
    }
}
@media (min-width:992px) {
    .col-lg {
        flex-basis:0;
        -webkit-box-flex:1;
        flex-grow:1;
        max-width:100%
    }
    .row-cols-lg-1>* {
        -webkit-box-flex:0;
        flex:0 0 100%;
        max-width:100%
    }
    .row-cols-lg-2>* {
        -webkit-box-flex:0;
        flex:0 0 50%;
        max-width:50%
    }
    .row-cols-lg-3>* {
        -webkit-box-flex:0;
        flex:0 0 33.33333%;
        max-width:33.33333%
    }
    .row-cols-lg-4>* {
        -webkit-box-flex:0;
        flex:0 0 25%;
        max-width:25%
    }
    .row-cols-lg-5>* {
        -webkit-box-flex:0;
        flex:0 0 20%;
        max-width:20%
    }
    .row-cols-lg-6>* {
        -webkit-box-flex:0;
        flex:0 0 16.66667%;
        max-width:16.66667%
    }
    .col-lg-auto {
        -webkit-box-flex:0;
        flex:0 0 auto;
        width:auto;
        max-width:100%
    }
    .col-lg-1 {
        -webkit-box-flex:0;
        flex:0 0 8.33333%;
        max-width:8.33333%
    }
    .col-lg-2 {
        -webkit-box-flex:0;
        flex:0 0 16.66667%;
        max-width:16.66667%
    }
    .col-lg-3 {
        -webkit-box-flex:0;
        flex:0 0 25%;
        max-width:25%
    }
    .col-lg-4 {
        -webkit-box-flex:0;
        flex:0 0 33.33333%;
        max-width:33.33333%
    }
    .col-lg-5 {
        -webkit-box-flex:0;
        flex:0 0 41.66667%;
        max-width:41.66667%
    }
    .col-lg-6 {
        -webkit-box-flex:0;
        flex:0 0 50%;
        max-width:50%
    }
    .col-lg-7 {
        -webkit-box-flex:0;
        flex:0 0 58.33333%;
        max-width:58.33333%
    }
    .col-lg-8 {
        -webkit-box-flex:0;
        flex:0 0 66.66667%;
        max-width:66.66667%
    }
    .col-lg-9 {
        -webkit-box-flex:0;
        flex:0 0 75%;
        max-width:75%
    }
    .col-lg-10 {
        -webkit-box-flex:0;
        flex:0 0 83.33333%;
        max-width:83.33333%
    }
    .col-lg-11 {
        -webkit-box-flex:0;
        flex:0 0 91.66667%;
        max-width:91.66667%
    }
    .col-lg-12 {
        -webkit-box-flex:0;
        flex:0 0 100%;
        max-width:100%
    }
    .order-lg-first {
        -webkit-box-ordinal-group:0;
        order:-1
    }
    .order-lg-last {
        -webkit-box-ordinal-group:14;
        order:13
    }
    .order-lg-0 {
        -webkit-box-ordinal-group:1;
        order:0
    }
    .order-lg-1 {
        -webkit-box-ordinal-group:2;
        order:1
    }
    .order-lg-2 {
        -webkit-box-ordinal-group:3;
        order:2
    }
    .order-lg-3 {
        -webkit-box-ordinal-group:4;
        order:3
    }
    .order-lg-4 {
        -webkit-box-ordinal-group:5;
        order:4
    }
    .order-lg-5 {
        -webkit-box-ordinal-group:6;
        order:5
    }
    .order-lg-6 {
        -webkit-box-ordinal-group:7;
        order:6
    }
    .order-lg-7 {
        -webkit-box-ordinal-group:8;
        order:7
    }
    .order-lg-8 {
        -webkit-box-ordinal-group:9;
        order:8
    }
    .order-lg-9 {
        -webkit-box-ordinal-group:10;
        order:9
    }
    .order-lg-10 {
        -webkit-box-ordinal-group:11;
        order:10
    }
    .order-lg-11 {
        -webkit-box-ordinal-group:12;
        order:11
    }
    .order-lg-12 {
        -webkit-box-ordinal-group:13;
        order:12
    }
    .offset-lg-0 {
        margin-left:0
    }
    .offset-lg-1 {
        margin-left:8.33333%
    }
    .offset-lg-2 {
        margin-left:16.66667%
    }
    .offset-lg-3 {
        margin-left:25%
    }
    .offset-lg-4 {
        margin-left:33.33333%
    }
    .offset-lg-5 {
        margin-left:41.66667%
    }
    .offset-lg-6 {
        margin-left:50%
    }
    .offset-lg-7 {
        margin-left:58.33333%
    }
    .offset-lg-8 {
        margin-left:66.66667%
    }
    .offset-lg-9 {
        margin-left:75%
    }
    .offset-lg-10 {
        margin-left:83.33333%
    }
    .offset-lg-11 {
        margin-left:91.66667%
    }
}
@media (min-width:1200px) {
    .col-xl {
        flex-basis:0;
        -webkit-box-flex:1;
        flex-grow:1;
        max-width:100%
    }
    .row-cols-xl-1>* {
        -webkit-box-flex:0;
        flex:0 0 100%;
        max-width:100%
    }
    .row-cols-xl-2>* {
        -webkit-box-flex:0;
        flex:0 0 50%;
        max-width:50%
    }
    .row-cols-xl-3>* {
        -webkit-box-flex:0;
        flex:0 0 33.33333%;
        max-width:33.33333%
    }
    .row-cols-xl-4>* {
        -webkit-box-flex:0;
        flex:0 0 25%;
        max-width:25%
    }
    .row-cols-xl-5>* {
        -webkit-box-flex:0;
        flex:0 0 20%;
        max-width:20%
    }
    .row-cols-xl-6>* {
        -webkit-box-flex:0;
        flex:0 0 16.66667%;
        max-width:16.66667%
    }
    .col-xl-auto {
        -webkit-box-flex:0;
        flex:0 0 auto;
        width:auto;
        max-width:100%
    }
    .col-xl-1 {
        -webkit-box-flex:0;
        flex:0 0 8.33333%;
        max-width:8.33333%
    }
    .col-xl-2 {
        -webkit-box-flex:0;
        flex:0 0 16.66667%;
        max-width:16.66667%
    }
    .col-xl-3 {
        -webkit-box-flex:0;
        flex:0 0 25%;
        max-width:25%
    }
    .col-xl-4 {
        -webkit-box-flex:0;
        flex:0 0 33.33333%;
        max-width:33.33333%
    }
    .col-xl-5 {
        -webkit-box-flex:0;
        flex:0 0 41.66667%;
        max-width:41.66667%
    }
    .col-xl-6 {
        -webkit-box-flex:0;
        flex:0 0 50%;
        max-width:50%
    }
    .col-xl-7 {
        -webkit-box-flex:0;
        flex:0 0 58.33333%;
        max-width:58.33333%
    }
    .col-xl-8 {
        -webkit-box-flex:0;
        flex:0 0 66.66667%;
        max-width:66.66667%
    }
    .col-xl-9 {
        -webkit-box-flex:0;
        flex:0 0 75%;
        max-width:75%
    }
    .col-xl-10 {
        -webkit-box-flex:0;
        flex:0 0 83.33333%;
        max-width:83.33333%
    }
    .col-xl-11 {
        -webkit-box-flex:0;
        flex:0 0 91.66667%;
        max-width:91.66667%
    }
    .col-xl-12 {
        -webkit-box-flex:0;
        flex:0 0 100%;
        max-width:100%
    }
    .order-xl-first {
        -webkit-box-ordinal-group:0;
        order:-1
    }
    .order-xl-last {
        -webkit-box-ordinal-group:14;
        order:13
    }
    .order-xl-0 {
        -webkit-box-ordinal-group:1;
        order:0
    }
    .order-xl-1 {
        -webkit-box-ordinal-group:2;
        order:1
    }
    .order-xl-2 {
        -webkit-box-ordinal-group:3;
        order:2
    }
    .order-xl-3 {
        -webkit-box-ordinal-group:4;
        order:3
    }
    .order-xl-4 {
        -webkit-box-ordinal-group:5;
        order:4
    }
    .order-xl-5 {
        -webkit-box-ordinal-group:6;
        order:5
    }
    .order-xl-6 {
        -webkit-box-ordinal-group:7;
        order:6
    }
    .order-xl-7 {
        -webkit-box-ordinal-group:8;
        order:7
    }
    .order-xl-8 {
        -webkit-box-ordinal-group:9;
        order:8
    }
    .order-xl-9 {
        -webkit-box-ordinal-group:10;
        order:9
    }
    .order-xl-10 {
        -webkit-box-ordinal-group:11;
        order:10
    }
    .order-xl-11 {
        -webkit-box-ordinal-group:12;
        order:11
    }
    .order-xl-12 {
        -webkit-box-ordinal-group:13;
        order:12
    }
    .offset-xl-0 {
        margin-left:0
    }
    .offset-xl-1 {
        margin-left:8.33333%
    }
    .offset-xl-2 {
        margin-left:16.66667%
    }
    .offset-xl-3 {
        margin-left:25%
    }
    .offset-xl-4 {
        margin-left:33.33333%
    }
    .offset-xl-5 {
        margin-left:41.66667%
    }
    .offset-xl-6 {
        margin-left:50%
    }
    .offset-xl-7 {
        margin-left:58.33333%
    }
    .offset-xl-8 {
        margin-left:66.66667%
    }
    .offset-xl-9 {
        margin-left:75%
    }
    .offset-xl-10 {
        margin-left:83.33333%
    }
    .offset-xl-11 {
        margin-left:91.66667%
    }
}

.text-center {
    text-align: center !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-white {
    color: #fff !important;
}

.text-muted {
    color: #fff !important;
}

.font-weight-medium {
    font-weight: 500 !important;
}

.text-xs {
    font-size: 16px !important;
}

@media (min-width:768px) {
    @supports (--css:variables) {
        [data-toggle=animation] {
            -webkit-animation-duration:.4s;
            animation-duration:.4s;
            -webkit-animation-timing-function:ease-in-out;
            animation-timing-function:ease-in-out;
            -webkit-animation-fill-mode:forwards;
            animation-fill-mode:forwards
        }
        [data-animation=fadeIn] {
            opacity:0
        }
        [data-animation=fadeIn].animate {
            -webkit-animation-name:fadeIn;
            animation-name:fadeIn
        }
        @-webkit-keyframes fadeIn {
            to {
                opacity:1
            }
        }
        @keyframes fadeIn {
            to {
                opacity:1
            }
        }
        [data-animation=fadeUp] {
            -webkit-transform:translateY(1rem);
            transform:translateY(1rem);
            opacity:0
        }
        [data-animation=fadeUp].animate {
            -webkit-animation-name:fadeUp;
            animation-name:fadeUp
        }
        @-webkit-keyframes fadeUp {
            to {
                -webkit-transform:translateY(0);
                transform:translateY(0);
                opacity:1
            }
        }
        @keyframes fadeUp {
            to {
                -webkit-transform:translateY(0);
                transform:translateY(0);
                opacity:1
            }
        }
        [data-animation=fadeDown] {
            -webkit-transform:translateY(-1rem);
            transform:translateY(-1rem);
            opacity:0
        }
        [data-animation=fadeDown].animate {
            -webkit-animation-name:fadeDown;
            animation-name:fadeDown
        }
        @-webkit-keyframes fadeDown {
            to {
                -webkit-transform:translateY(0);
                transform:translateY(0);
                opacity:1
            }
        }
        @keyframes fadeDown {
            to {
                -webkit-transform:translateY(0);
                transform:translateY(0);
                opacity:1
            }
        }
        [data-animation-order="0"] {
            -webkit-animation-delay:0s;
            animation-delay:0s
        }
        [data-animation-order="1"] {
            -webkit-animation-delay:.15s;
            animation-delay:.15s
        }
        [data-animation-order="2"] {
            -webkit-animation-delay:.3s;
            animation-delay:.3s
        }
        [data-animation-order="3"] {
            -webkit-animation-delay:.45s;
            animation-delay:.45s
        }
        [data-animation-order="4"] {
            -webkit-animation-delay:.6s;
            animation-delay:.6s
        }
        [data-animation-order="5"] {
            -webkit-animation-delay:.75s;
            animation-delay:.75s
        }
        [data-animation-order="6"] {
            -webkit-animation-delay:.9s;
            animation-delay:.9s
        }
        [data-animation-order="7"] {
            -webkit-animation-delay:1.05s;
            animation-delay:1.05s
        }
        [data-animation-order="8"] {
            -webkit-animation-delay:1.2s;
            animation-delay:1.2s
        }
        [data-animation-order="9"] {
            -webkit-animation-delay:1.35s;
            animation-delay:1.35s
        }
        [data-animation-order="10"] {
            -webkit-animation-delay:1.5s;
            animation-delay:1.5s
        }
    }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing:-.05em
}
.display-1,
.display-2,
.display-3,
.display-4,
.h1,
h1 {
    line-height:1.35
}
@media (max-width:768px) {
    .h1,
    h1 {
        font-size:34px
    }
    .h2,
    h2 {
        font-size:26px
    }
    .h3,
    h3 {
        font-size:22px
    }
    .h4,
    h4 {
        font-size:18px
    }
    .h5,
    h5 {
        font-size:16px
    }
    .h6,
    h6 {
        font-size:15px
    }
    .display-3 {
        font-size:3rem
    }
    .display-4 {
        font-size:2rem
    }
}

.lead {
    font-size: 1rem;
    font-weight: 400;
}

.m-0 {
    margin:0!important
}
.mt-0,
.my-0 {
    margin-top:0!important
}
.mr-0,
.mx-0 {
    margin-right:0!important
}
.mb-0,
.my-0 {
    margin-bottom:0!important
}
.ml-0,
.mx-0 {
    margin-left:0!important
}
.m-1 {
    margin:.25rem!important
}
.mt-1,
.my-1 {
    margin-top:.25rem!important
}
.mr-1,
.mx-1 {
    margin-right:.25rem!important
}
.mb-1,
.my-1 {
    margin-bottom:.25rem!important
}
.ml-1,
.mx-1 {
    margin-left:.25rem!important
}
.m-2 {
    margin:.5rem!important
}
.mt-2,
.my-2 {
    margin-top:.5rem!important
}
.mr-2,
.mx-2 {
    margin-right:.5rem!important
}
.mb-2,
.my-2 {
    margin-bottom:.5rem!important
}
.ml-2,
.mx-2 {
    margin-left:.5rem!important
}
.m-3 {
    margin:1rem!important
}
.mt-3,
.my-3 {
    margin-top:1rem!important
}
.mr-3,
.mx-3 {
    margin-right:1rem!important
}
.mb-3,
.my-3 {
    margin-bottom:1rem!important
}
.ml-3,
.mx-3 {
    margin-left:1rem!important
}
.m-4 {
    margin:1.5rem!important
}
.mt-4,
.my-4 {
    margin-top:1.5rem!important
}
.mr-4,
.mx-4 {
    margin-right:1.5rem!important
}
.mb-4,
.my-4 {
    margin-bottom:1.5rem!important
}
.ml-4,
.mx-4 {
    margin-left:1.5rem!important
}
.m-5 {
    margin:3rem!important
}
.mt-5,
.my-5 {
    margin-top:3rem!important
}
.mr-5,
.mx-5 {
    margin-right:3rem!important
}
.mb-5,
.my-5 {
    margin-bottom:3rem!important
}
.ml-5,
.mx-5 {
    margin-left:3rem!important
}
.m-6 {
    margin:4.5rem!important
}
.mt-6,
.my-6 {
    margin-top:4.5rem!important
}
.mr-6,
.mx-6 {
    margin-right:4.5rem!important
}
.mb-6,
.my-6 {
    margin-bottom:4.5rem!important
}
.ml-6,
.mx-6 {
    margin-left:4.5rem!important
}
.m-7 {
    margin:6rem!important
}
.mt-7,
.my-7 {
    margin-top:6rem!important
}
.mr-7,
.mx-7 {
    margin-right:6rem!important
}
.mb-7,
.my-7 {
    margin-bottom:6rem!important
}
.ml-7,
.mx-7 {
    margin-left:6rem!important
}
.m-8 {
    margin:7.5rem!important
}
.mt-8,
.my-8 {
    margin-top:7.5rem!important
}
.mr-8,
.mx-8 {
    margin-right:7.5rem!important
}
.mb-8,
.my-8 {
    margin-bottom:7.5rem!important
}
.ml-8,
.mx-8 {
    margin-left:7.5rem!important
}
.m-9 {
    margin:9rem!important
}
.mt-9,
.my-9 {
    margin-top:9rem!important
}
.mr-9,
.mx-9 {
    margin-right:9rem!important
}
.mb-9,
.my-9 {
    margin-bottom:9rem!important
}
.ml-9,
.mx-9 {
    margin-left:9rem!important
}
.m-10 {
    margin:9.5rem!important
}
.mt-10,
.my-10 {
    margin-top:9.5rem!important
}
.mr-10,
.mx-10 {
    margin-right:9.5rem!important
}
.mb-10,
.my-10 {
    margin-bottom:9.5rem!important
}
.ml-10,
.mx-10 {
    margin-left:9.5rem!important
}

.btn {
    display: inline-block;
    font-weight: 500;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .75rem 1.5rem;
    font-size: .6875rem;
    line-height: 1.64063rem;
    border-radius: 0;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn {
    -webkit-transition: none;
    transition: none;
}

.btn-outline-primary {
    color: #f5ba4b;
    border-color: #f5ba4b;
}

.btn {
    position: relative;
    letter-spacing: 0;
    text-transform: uppercase;
}


